* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 30px;
}

#user-input {
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    max-height: 70vh; /* Limita o tamanho da área dos resultados */
}

.card {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
